<form id="searchBar" class="search-bar" action="index.html">
    <div class="form-control-wrapper">
        <input type="search" class="form-control bd-0" placeholder="Search...">
    </div><!-- form-control-wrapper -->
    <button id="searchBtn" class="btn btn-orange"><i class="fa fa-search"></i></button>
</form><!-- search-bar -->
